
# development
.DS_Store
docker-compose*
Procfile*

#git
.git/
.gitignore

# ci
.github/
.semaphore/

# node
node_modules/
npm-debug.log
yarn-error.log

# logs
logs/
tmp/

# local env
.env*
web.env.*

# docs
README*
docs/