/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/log/
/ssl/
*.bundle
*.so
*.o
*.a
mkmf.log
.DS_Store
.env
Box Key Architecture.graffle
node_modules
application.js
public
epics-box.war
.rubocop.yml
.rubocop_todo.yml
.ruby-version
