language: ruby
sudo: false
rvm:
  - 2.2.4
  - jruby-9.0.4.0
cache:
  - bundler
  - apt
addons:
  postgresql: "9.4"
env:
  - TEST_DATABASE_URL="postgres://localhost/ebicsbox_test"
  - TEST_DATABASE_URL="jdbc:postgresql://localhost/ebicsbox_test" EBICS_CLIENT="Blebics::Client"
before_install:
  - wget https://github.com/kr/beanstalkd/archive/v1.10.tar.gz
  - tar xf v1.10.tar.gz
  - make -C beanstalkd-1.10/
  - mv beanstalkd-1.10/beanstalkd .
before_script:
  - createdb ebicsbox_test
  - bundle exec sequel -m migrations $TEST_DATABASE_URL
  - ./beanstalkd &
script:
  - bundle exec rspec spec
matrix:
  exclude:
    - rvm: 2.2.4
      env: TEST_DATABASE_URL="jdbc:postgresql://localhost/ebicsbox_test" EBICS_CLIENT="Blebics::Client"
    - rvm: jruby-9.0.4.0
      env: TEST_DATABASE_URL="postgres://localhost/ebicsbox_test"
