# THIS IS A CONFIGURATION FILE
# Adjust the settings matching to your system

# this is used for nginx & letsencrypt to automatically provide an SSL certificate
VIRTUAL_HOST=
LETSENCRYPT_HOST=
LETSENCRYPT_EMAIL=
