db:
  image: postgres
  environment:
    - POSTGRES_PASSWORD=mysecretpassword
    - POSTGRES_USER=ebicsbox
  expose:
    - "5432"
  volumes:
    - /data-postgresql:/var/lib/postgresql/data
queue:
  image: michaelcontento/beanstalkd
  expose:
    - "11300"
  volumes:
    - /data-beanstalkd:/data
app:
  image: ebicsbox-bv:0.1.27
  environment:
    - USERNAME=ebics
    - PASSWORD=istsuper
    - "BEANSTALKD_URL=queue:11300"
    - "DATABASE_URL=jdbc:postgresql://db/ebicsbox?user=ebicsbox&password=mysecretpassword"
    - "JAVA_OPTS=-Djava.security.egd=file:/dev/./urandom"
    - "JRUBY_OPTS=-J-Xmx512m"
    - "PORT=5000"
    - "RACK_ENV=production"
    - "VIRTUAL_HOST=ebicsbox-bv"
    - "PASSPHRASE=asdasdasdasdasd"
    - "SECRET_TOKEN=sehrlangersecrettokenistsecret1234"
    - "EBICS_CLIENT=Blebics::Client"
  links:
    - db
    - queue
  expose:
    - "5000"
  command: "bin/start all"
proxy:
  image: jwilder/nginx-proxy:latest
  volumes:
    - /certs:/etc/nginx/certs
    - /var/run/docker.sock:/tmp/docker.sock:ro
  links:
    - "app:ebicsbox-bv"
  ports:
    - "80:80"
    - "443:443"
