version: "3"
services:
  queue:
    image: railslove/beanstalkd:1.0
    restart: always
    expose:
      - 11300
  webapp:
    # build: .
    image: ebicsbox:latest
    restart: always
    environment:
      - BEANSTALKD_URL=queue:11300
      - PORT=5000
      - RACK_ENV=production
    env_file: .env
    expose:
      - 5000
    command: bin/start all
    depends_on:
      - queue
  proxy:
    image: jwilder/nginx-proxy:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - /tmp/certs:/etc/nginx/certs:ro
      - /tmp/html:/usr/share/nginx/html:rw
      - /tmp/vhost.d:/etc/nginx/vhost.d
    labels:
      - com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy
    ports:
      - 80:80
      - 443:443
  letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    volumes:
      - /tmp/html:/usr/share/nginx/html:rw
      - /tmp/vhost.d:/etc/nginx/vhost.d:rw
      - /tmp/certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - proxy
