<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>EBICS::Box - Administration</title>
  <link rel="stylesheet" href="/assets/application.css" charset="utf-8">
</head>
<body>
	<div class="container">
    <!-- ### Main Header -->
    <div id="header" class="jumbotron">
      <h2>bootstrap-webpack example</h2>
      <p>
        This is an example of using <a href="https://github.com/bline/bootstrap-webpack">bootstrap-webpack</a>.
        You may also find the gulpfile useful if you use <a href="http://gulpjs.com/">gulp</a>.
      </p>
      <p>
        <a class="btn btn-primary" href="https://github.com/bline/bootstrap-webpack">bootstrap-webpack</a>
        <a class="btn btn-info" href="https://github.com/bline/bootstrap-webpack-example">boostrap-webpack-example</a>
      </p>
    </div>
	  <div id="application">
	    Loading application…
	  </div>
	</div>

  <!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/assets/application.js"></script>
</body>
</html>
