<form action="/admin/accounts" method="POST">
  <label for="name"/>Name</label>
  <input type="text" name="name" id="name" required/>
  <br/>
  <label for="bankname"/>Bankname</label>
  <input type="text" name="bankname" id="bankname" required/>
  <br/>
  <label for="iban"/>IBAN</label>
  <input type="text" name="iban" id="iban" required/>
  <br/>
  <label for="bic"/>BIC</label>
  <input type="text" name="bic" id="bic" required/>
  <br/>
  <label for="creditor_identifier"/>Creditor ID</label>
  <input type="text" name="creditor_identifier" id="creditor_identifier"/>
  <br/>
  <label for="callback_url"/>Callback URL</label>
  <input type="text" name="callback_url" id="callback_url" />
  <br/>
  <label for="host"/>Host ID</label>
  <input type="text" name="host" id="host" required/>
  <br/>
  <label for="partner"/>Partner ID</label>
  <input type="text" name="partner" id="partner" required/>
  <br/>
  <label for="user"/>User ID</label>
  <input type="text" name="user" id="user" required/>
  <br/>
  <label for="url"/>URL</label>
  <input type="text" name="url" id="url" required/>
  <br/>
  <label for="mode"/>Mode</label>
  <select name="mode" id="mode">
    <option>Test</option>
    <option>Epics::Client</option>
  </select>
  <br/>
  <hr/>
  <input type="submit" value="Create"/>
</form>
