<form action="/admin/accounts/setup/<%= @account.id %>" method="POST">
  <label for="passphrase"/>passphrase</label>
  <input type="text" name="passphrase" id="passphrase" required/>
  <br/>
  <input type="submit" value="setup"/>
</form>
