name: pull_request_ci

on:
  push:
    tags: ["v*.*.*"]
  # pull_request:
  # branches: ["**"]

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run Rubocop
        run: bundle exec rubocop
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: ebicsbox_test
          POSTGRES_PASSWORD: password
          POSTGRES_USER: rails
        ports:
          - "5432:5432"
      redis:
        image: redis
        ports:
          - "6379:6379"
    env:
      TEST_DATABASE_URL: postgres://rails:password@localhost:5432/ebicsbox_test
      REDIS_URL: redis://localhost:6379
      RACK_ENV: test
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Set up database
        run: bundle exec bin/migrate
      - name: Run tests
        run: bundle exec rspec
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: false
